# Joseph Kamara
## Week 6: 3/1/2022
### Built in fuctnions and Operatiors

In [2]:
#in operator 
lst = [10, 15, 5,6,8,9,7,'a','b','c']

In [3]:
3 in lst

False

In [5]:
#min and max functions 
lst2 = [10,20,30,40,50,98]

In [6]:
print(min(lst2), max(lst2))

10 98

In [7]:
#using random libary 
from random import shuffle

In [9]:
shuffle(lst2)

In [10]:
lst2

[98, 20, 30, 40, 50, 10]

In [11]:
shuffle(lst2
       )

In [12]:
lst

['a', 9, 'c', 15, 5, 6, 8, 7, 10, 'b']

In [13]:
lst2

[30, 98, 50, 40, 10, 20]

In [15]:
#randint, returns a random integer in a given range 
from random import randint

In [16]:
randint(0,50)

23

range(10)

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
myList = list(range(0,100,10))

In [20]:
myList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [5]:
for i , l in enumerate('hello'): 
    print('The letter at index {} is {}'.format(i,l))

The letter at index 0 is h
The letter at index 1 is e
The letter at index 2 is l
The letter at index 3 is l
The letter at index 4 is o

In [6]:
list (enumerate('hello'))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [7]:
#zip function creates a lits of tuples by zippling two lists 
lst1 = [0,1,2,3,4,5]
lst2= ['a','c','e','d','g']
zip(lst1,lst2)

In [8]:
tuple(zip(lst1,lst2))

((0, 'a'), (1, 'c'), (2, 'e'), (3, 'd'), (4, 'g'))

In [9]:
for i , l  in zip(lst1,lst2):
    print('The letter at index {} is {}'.format(i,l))

The letter at index 0 is a
The letter at index 1 is c
The letter at index 2 is e
The letter at index 3 is d
The letter at index 4 is g

In [10]:
# zip two diffrent list sizes 
lst1 = [0,1,2,3,4,5]
lst2= ['a','c','e','d']
list(zip(lst1,lst2))

[(0, 'a'), (1, 'c'), (2, 'e'), (3, 'd')]