In [3]:
def full_name (fname,lname):
        return fname+ " " + lname

In [4]:
full_name('Jospeh', 'Kamara')

'Jospeh Kamara'

In [7]:
def min_two_odds(n1,n2):
        if (n1 % 2 !=0 or n2 % 2 !=0):
            return max(n1,n2)
        else: 
               return min(n1,n2)

In [9]:
min_two_odds(1,1)

1

In [10]:
min_two_odds(1,2)

2

In [11]:
def is_prime(num):
    '''
    This function checks if a number is a prime 
    '''

    for n in range(2,num):
        if num%n == 0: 
            return False
        else: 
            return True

In [16]:
print(is_prime(7))

True

In [17]:
print(is_prime(14))

False

In [32]:
def is_prime(num):
    '''
    This function checks if a number is a prime 
    '''

    for n in range(2,num):
        if num%n == 0: 
            return str(num)+ " is not a prime number"
        break
    else: 
        print(num, 'is a prime number')

In [34]:
print(is_prime(8))

8is not a prime number

In [35]:
#check if two word string starts with the same letter

def two_word_letters(txt):
    names = txt.split().
    if names[0][0] == names[1][0]:
        return True
    else: 
        return False

In [37]:
two_word_letters('Pine pimple')

False

In [50]:
#check if two word string starts with the same letter

def two_word_letters(txt):
    names = txt.split()
    if len(names)!=2:
        return  'Please try agian you have more than 2 words'
            
    else:
        return names[0][0] == names[1][0]

In [51]:
two_word_letters('Pine Pimple')

True

In [52]:
two_word_letters('Pine Pimple pop')

'Please try agian you have more than 2 words'

In [53]:
#'programming'-->ProGramming
# ' macdpma;d'--> 'MacDonald'
word = 'macdonald'

In [75]:
part1 = word[:3].capitalize()

In [76]:
part1

'Mac'

In [77]:
part1.capitalize()

'Mac'

In [82]:
part2 = word[3:].capitalize()

In [83]:
part2

'Donald'

In [84]:
part2.capitalize()

'Donald'

In [85]:
part1+part2

'MacDonald'

In [87]:
def two_Word(word):
    if len(word) > 3: 
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 +part2
    else: 
        return 'Sorry the word is too small'

In [89]:
two_Word('apple')

'AppLe'

In [96]:
#reverse a statement 

str1 = 'i am home'

'emoh ma i'

In [108]:
lst = str1.split()
lst

['i', 'am', 'home']

In [109]:
#using koin to join the elements in the list 
lst[::-1]

['home', 'am', 'i']

In [111]:
' '.join(lst[::-1])

'home am i'

In [118]:
def rv_stat(txt):
    lst = txt.split()
    return (' '.join(lst[::-1]))

In [119]:
rv_stat('I am really home')

'home really am I'

In [5]:
#check if a list has number 4 next to number 5 somewhere in the list 
#[3,4,5,5,10]
#3,4,5,6,5,8]
def has_55(lst):
    
    
    for i in range(0,len(lst)):
        if (lst[i] ==5  and lst[i]+1==5):
            return True
        return False

In [6]:
lst1 = [3,4,5,5,10]
lst2 = [3,4,5,6,5,8]

In [7]:
has_55([3,4,5,5,10])

False

In [8]:
has_55([3,4,5,5,10])

False

In [32]:
#check code 001 in a list 
#[1,4,5,0,0,1,8]
#[1,0,2,5,0,6,1,8] 

def check_code(lst): 
        
        for i in lst:
            code = [0,0,1,'s']
            if(i == code[0]):
                code.pop(0)
            return len(code) ==1

In [33]:
check_code([1,4,5,0,0,1,8])

False

In [39]:
#what happens if you doing dont know 
#number of arguements 
#if the number of agruments is unknown, add a * before the Parameter name 
def sum_num(a,b):
    return sum((a,b))

In [40]:
sum_num(2,5)

7

In [41]:
def full_name(fName,Lname):
    if (fName+Lname)
    print(fName+Lname)

In [43]:
full_name('John', ' atams ')

John atams

In [45]:
def sum_num(*n):
    return sum((n))

In [46]:
sum_num(5)

5

In [68]:
def full_name(*name):
    if len(name) == 1:
        print(name[0])
    elif len(name)==2:
        print(name[0]+name[1])
    print('Too many char')

In [70]:
full_name('jonny','APlle')

jonnyAPlle
Too many char

In [72]:
#Deafult parameter value
def my_country(name ="USA"):
    
    print ('I am from '+ name)

In [73]:
my_country()

I am from USA

In [74]:
my_country('Brizal')

I am from Brizal

In [78]:
#Keyword Arguments 

def my_kids(child1, child2, child3):
    
    print('my first child ' +child1 +'my second child '+child2 +' my third child '+child3)

In [79]:
my_kids('Jim', 'brady', 'Sarah ')

my first child Jimmy second child brady my third child Sarah

In [80]:
my_kids( child2= 'Brady',child1='Jim', child3='Sarah')

my first child Jimmy second child Brady my third child Sarah

In [85]:
#Arbitrary Keyword Arguments, **kwrgs
'''
i you do not know how many keyword arguemnts that will be 
passed into your keyword add two asterisk: ** before the parameter name in the function definiation 

'''
def my_kids(**name):
    
       print('My child first name is'+ name['fname']+ ', and last name is '+ name['lName'])

In [89]:
my_kids(fname = ' jake', lName = 'sally')

My child first name is jake, and last name is sally

In [111]:
#Arbitrary Aruguments and Keyword Arguments, *args and **kwargs
def my_dinner(*food, **fruits):
    if 'fruit' and 'juice' in fruits: 
        print(f"I like { 'and'.join(food)} and my favorite fruit is {fruits['fruits']}")
        print(f"I also like to have {fruits['juice']} juice after")
              
    else: 
        print('Thank you, I will have a water!')

In [117]:
my_dinner('eggs', 'milk', fruits ='cherry',juice = 'orange')

I like eggsandmilk and my favorite fruit is cherry
I also like to have orange juice after

In [118]:
#Using funciton in list comprehensiions 
lst = [i for i in range(11) if i%2 == 0]

In [119]:
lst

[0, 2, 4, 6, 8, 10]

In [120]:
taxns = [1.09,23.56,57.84, 4.56,6.78]
TAX_RATE = .08

In [130]:
def get_price_with_tax (txn):
    return round(txn *(1+TAX_RATE),2)
final_price = [get_price_with_tax(txn)for txn in taxns]
final_price

[1.18, 25.44, 62.47, 4.92, 7.32]

In [131]:
 get_price_with_tax (25)

27.0

In [133]:
#Python's map() is a built in function that allows you to process data without for 
#avoiding using loops when handling big data 
#map(function,iterable[,iterable1 iterable2,...., iterableN])
final_price = map(get_price_with_tax,txns))

NameError: name 'txn' is not defined