# Joseph Kamara
## Week 3:  2/1/2022
### Python Built-in Data Structures - Lists

In [3]:
my_list = [88,89,76,99,100,34,57]

In [6]:
lst1 = [50,89,'Alice', 66.8, 'a','Bob',99]

In [7]:
lst1

[50, 89, 'Alice', 66.8, 'a', 'Bob', 99]

In [8]:
len(lst1)

7

In [4]:
fruits = ['Apple','Banana', 'Cherry', 'Kiwi']

In [23]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [26]:
fruits[-1]

'Kiwi'

In [5]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [6]:
fruits[2]

'Cherry'

In [7]:
#slicing 
my_list = [89,90,99,'Alice','Bob','Jen']

In [8]:
my_list[1:]

[90, 99, 'Alice', 'Bob', 'Jen']

In [10]:
my_list[1::2]

[90, 'Alice', 'Jen']

In [12]:
my_list[1::1
       ]

[90, 99, 'Alice', 'Bob', 'Jen']

In [14]:
my_list[:3]

[89, 90, 99]

In [15]:
my_list[:2]

[89, 90]

In [16]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [24]:
fruits[2:4]

['Cherry', 'Kiwi']

In [25]:
# add a new element
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [26]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [31]:
fruits = fruits+['Orange']

In [32]:
fruits[1] = 'Mango'

In [33]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [34]:
my_list*2

[89, 90, 99, 'Alice', 'Bob', 'Jen', 89, 90, 99, 'Alice', 'Bob', 'Jen']

In [35]:
my_list

[89, 90, 99, 'Alice', 'Bob', 'Jen']

In [36]:
my_list = my_list*2

In [37]:
# Use the builtin functions
# append()
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange']

In [41]:
fruits.append('Bananna')

In [42]:
fruits

['Apple', 'Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana', 'Bananna']

In [43]:
lst1 = ['a','b','c','e']

In [44]:
print(lst1)

['a', 'b', 'c', 'e']

In [45]:
lst1.extend([1,2,3,4,5])

In [46]:
lst1

['a', 'b', 'c', 'e', 1, 2, 3, 4, 5]

In [47]:
lst1.pop

In [48]:
fruits.pop(0)

'Apple'

In [49]:
fruits

['Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana', 'Bananna']

In [50]:
fruits[0] = 'Apple'

In [51]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Orange', 'Banana', 'Bananna']

In [52]:
fruits.pop()

'Bananna'

In [53]:
del lst1[1]

In [58]:
lst1

['a', 'c', 'e', 1, 2, 3, 4, 5]

In [62]:
lst2 = ['a', 'c', 'e']

In [63]:
lst2.sort()

In [64]:
lat2

NameError: name 'lat2' is not defined

In [65]:
lst2

['a', 'c', 'e']

In [67]:
l1 = [90,80,70]
l2 = [60,50,40]
l3 = [40,30,20]

In [73]:
nested_list = [l1,l2,l3]

In [74]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [75]:
nested_list[-1]

[40, 30, 20]

In [80]:
nested_list[1][2]

40

In [81]:
lst3 = list(range(2,20))

In [82]:
lst3

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [87]:
#insert 
lst3.insert(1,'red')

In [88]:
lst3

[2, 'red', 'blue', 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [89]:
lst3.insert(2,lst2)

In [90]:
lst2

['a', 'c', 'e']

In [91]:
lst3

[2,
 'red',
 ['a', 'c', 'e'],
 'blue',
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [92]:
# In 
5 in lst3

True

In [93]:
b = ['saw','small','he','foxes','six','add']

In [94]:
b.sort

In [95]:
b.sort()

In [96]:
b

['add', 'foxes', 'he', 'saw', 'six', 'small']

In [97]:
b.sort(key=len)

In [98]:
b

['he', 'add', 'saw', 'six', 'foxes', 'small']

In [99]:
#zip
lst1 = ['foo','bar', 'baz']
lst2 = ['one','three','two']
zipped_list = zip(lst1,lst2)

In [100]:
zipped_list

In [103]:
l = list(zipped_list)

In [104]:
l

[('foo', 'one'), ('bar', 'three'), ('baz', 'two')]

In [106]:
l=[4,None,'foo']+[7,8,[2,3]]

In [107]:
l

[4, None, 'foo', 7, 8, [2, 3]]