# Joseph Kamara
## Week 5: 2/17/2022
### Python Loops

** General for loops format ** 
<code> for item in object: 
    statements to do work</code>

In [2]:
sc = [68,87,98,54,65,12,36,48]
sc

[68, 87, 98, 54, 65, 12, 36, 48]

In [4]:
for n in sc: 
    print (n)

68
87
98
54
65
12
36
48

In [6]:
for n in sc: 
    if n %2 == 0: 
        print(n)
    else: 
        print ('Odd').

68
Odd
98
54
Odd
12
36
48

In [11]:
sum = 0;
for n in sc:
    sum = sum+n
    
print(sum)

468

In [15]:
avg = 0;

for n in sc:
    sum = sum+n 
    
avg = sum/len(sc)

In [16]:
print(avg)

234.0

In [17]:
for letter in 'I am a student in CIS 310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
I
S

3
1
0

In [18]:
t = (5,7,9,10,14)
for n in t:
    print(n)

5
7
9
10
14

In [19]:
ls1 = [(10,20), (30,40),(50,60),(70,80),(90,100)]

In [33]:
for (t1,t2) in ls1: 
    print(t1)

10 20
30 40
50 60
70 80
90 100

In [40]:
#looping over dictionary 
d = {"Brand": "Ford", "model": "Mustand","year":1964}

for i in d: 
    print (d['year'])

1964
1964
1964

In [42]:
items = d.items()

In [43]:
items

dict_items([('Brand', 'Ford'), ('model', 'Mustand'), ('year', 1964)])

In [44]:
tuple(items)

(('Brand', 'Ford'), ('model', 'Mustand'), ('year', 1964))

In [45]:
list(items)

[('Brand', 'Ford'), ('model', 'Mustand'), ('year', 1964)]

In [46]:
d.keys()

dict_keys(['Brand', 'model', 'year'])

In [47]:
d.values()

dict_values(['Ford', 'Mustand', 1964])

In [49]:
for item in d: 
    print(item)

Brand
model
year

In [57]:
for k,v in d.items(): 
    print(k,v)

Brand Ford
model Mustand
year 1964

In [60]:
for items in d.values(): 
    print(items)

Ford
Mustand
1964

In [63]:
d1= {'k1':5,'k2':8,'k3':9}

In [66]:
sorted(d1.values())

[5, 8, 9]

In [71]:
for v in sorted(d1.values()):
    print(v)
    if v >1:
        print("Yeah this works")

5
Yeah this works
8
Yeah this works
9
Yeah this works

In [74]:
#Break and continue 
fruits = ['Apples', 'Grape','Orange', 'Banana', 'Cherry']

In [78]:
for f in fruits: 
    if f == 'Banana':
        break
    print(f)

Apples
Grape
Orange

In [79]:
for f in fruits: 
    if f == 'Banana':
        continue
    print(f)

Apples
Grape
Orange
Cherry